@using MvcNetCoreSession.Helpers
@using System.Security.Claims
@if (!Context.User.Identity.IsAuthenticated)
{
    <li>
        <a class="nav-link text-dark"
           asp-controller="User"
           asp-action="LogIn">Log In</a>
    </li>
    <li>
        <a class="nav-link text-dark"
           asp-controller="User"
           asp-action="Register">Registrarse</a>
    </li>
}
else
{
    <!-- Usuario -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
            <img src="@Context.User.FindFirst("Imagen").Value" alt="Usuario" class="rounded-circle me-2" width="32" height="32" />
            <span>@Context.User.Identity.Name</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" asp-action="Perfil" asp-controller="User">Perfil</a></li>
            <li><a class="dropdown-item" asp-action="MisEquipos" asp-controller="Equipos" asp-route-idusuario="@Context.User.FindFirst("Id").Value">Mis Equipos</a></li>
            <li><a class="dropdown-item" asp-action="MisPartidos" asp-controller="Partidos">Partidos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" asp-controller="User" asp-action="LogOut">Cerrar sesión</a></li>
        </ul>
    </li>
}