
@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>

<form method="post">
    <input type="hidden" value="0" name="id"/>
    <input type="hidden" value="" name="imagen"/>
    <input type="hidden" value="2" name="rol" />
    <label>Nombre de usuario</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Email</label>
    <input type="email" name="email" class="form-control" />
    <label>Contraseña</label>
    <input type="password" name="pass" class="form-control" />
    <button class="btn btn-primary mt-3">Registrarse</button>
</form>

