@model IEnumerable<MatchUpProyecto.Models.Deporte>

@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <h1>Index</h1>
    <div class="row">
        @foreach (var deporte in Model)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
                    <a href="#" class="thumb d-block"><img src="@deporte.Imagen" alt="Image" class="img-fluid rounded"></a>

                    <div class="post-content">
                        <h3 style="float: left"><a href="#">@deporte.Nombre</a></h3>
                        <p style="float:right">
                            Jugadores: @deporte.MinJugadores - @deporte.MaxJugadores
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

