@model IEnumerable<NugetMatchUp.Models.Deporte>

@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <h1>Index</h1>
    <div class="row">
        @foreach (var deporte in Model)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <!-- From Uiverse.io by gharsh11032000 -->
                <div class="card-D">
                    <div class="card-D-inner">
                        <div class="card-D-front" style="background-image: url(@deporte.Imagen); background-size:cover">
                            <p>@deporte.Nombre</p>
                        </div>
                        <div class="card-D-back">
                            <p>@deporte.MaxJugadores - @deporte.MinJugadores</p>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

